/* Where You choose your whip and handle renders */
.designHeader {
font-family: 'BioRhyme', serif;
text-align: center;
}

.designYourBullwhipContainer{
    display: flex;
}

.waxedColorPatternColumn{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.detailsRenderColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.whipHandleDetails {
    flex: 2;
}

.renderWhip {
    flex: 1;
    position: relative;
}

.rendering {
    flex: 2;
    max-width: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* end */

/* Where you add final details to whip and eventually proceed to card/checkout */
.purchaseWhipContainer{
    display: flex;
}

.lengthConchoContainer{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.yourWhipContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.yourWhip{
    flex: 1;
}
/* end */

.handleContainer {
    flex: 1;
}

.myCanvas {
    max-width: 400px;
    height: 800px;
}

.designContainer {
    font-family: 'BioRhyme', serif;
    border: 5px solid black;
    text-align: center;
    margin: 2px;
}

.designContainer h3 {
    padding: 5px;
}


.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.buttonDiv {
    margin-right: 2px;
    margin-left: 2px;
}

.colorButtonsContainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: none;
}
.colorButton {
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
    display: inline-block;
    height: 60px;
    width: 100px;
    border: none;
    margin: 0;
    text-decoration: none;
    background-size: cover;
    background-position: 0px -8px;
    color: #ffffff;
    /* font-family: 1rem; */
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.colorButton:hover,
.colorButton:focus{
    background: black;
    color: white;
    border: none;
    /* outline gets rid of the blue border on selected item */
    outline:0;
}

.hidden {
    visibility: hidden;
    display: none;
    top: 0
}

.capitalize {
    text-transform: capitalize;
}

/* Render Button css */
.renderButtonContainer{
    font-family: 'BioRhyme', serif;
    border: 5px solid black;
    text-align: center;
    margin: 2px;
    flex: 1;
    /* position: relative; */
}

.renderButton{
    background-color: black;
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    outline:0;
    opacity: .8;
    font-size: 20px;
}

.renderButton:hover,
.renderButton:focus{
    opacity: 1;
    /* border: none; */
    /* outline gets rid of the blue border on selected item */
    outline:0; 
} 

.inactiveRenderButton{
    background-color: black;
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    outline:0;
    opacity: .8;
    font-size: 20px;
}

.inactiveRenderButtonToolTip {

}

.tooltipRender {
    width: 80%;
    height: 80%;
    /* centering in container */
    position: relative;
    top: 10%;
    left: 10%;
}

.tooltipRender .inactiveRenderButtonToolTip {
    visibility: hidden;
    width: 100%;
    background-color: RGB(51 51 51);
    border: 3px solid black;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: 108%;
    left: -5%;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipRender:hover .inactiveRenderButtonToolTip {
    visibility: visible;
    padding: 8px;
}





