.capitalize {
    text-transform: capitalize;
}

.designHeader {
font-family: 'BioRhyme', serif;
text-align: center;
}

.designContainer {
    font-family: 'BioRhyme', serif;
    border: 5px solid black;
    text-align: center;
}

.handleAndRendering {
    display: flex;
}

.handleContainer {
    flex: 1;
    border-top: 0;
    border-right: 0;
}

.rendering {
    border-top: 0;
    width: 500px;
}

.hidden {
    visibility: hidden;
    display: none;
    top: 0
}

.myCanvas {
    width: 500px;
    height: 1000px;
}
