.accent {
    background-image: url("./images/handles/accent.jpg")
}

.box {
    background-image: url("./images/handles/box.jpg")
}

.celtic {
    background-image: url("./images/handles/celtic.jpg")
}

.egyptianeye {
    background-image: url("./images/handles/egyptianEye.jpg")
}

.emerald {
    background-image: url("./images/handles/emerald.jpg")
}

.new {
    background-image: url("./images/handles/new.jpg")
}

.verticalstrip {
    background-image: url("./images/handles/verticalStrip.jpg")
}

.handleButtonsContainer{
    margin-bottom: 12px;
}

.handleButton {
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
    display: inline-block;
    height: 50px;
    width: 200px;
    border: none;
    margin: 0;
    text-decoration: none;
    background-size: cover;
    /* background-position: 0px -8px; */
    color: #ffffff;
    /* font-family: 1rem; */
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    margin: 2px;
    /* transform: rotate(270deg); */

}

.handleButton:hover,
.handleButton:focus{
    background: black;
    color: white;
    border: none;
    /* outline gets rid of the blue border on selected item */
    outline:0;
}

.handleDetailsPattern{
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
    display: inline-block;
    height: 60px;
    width: 240px;
    border: none;
    margin: 0;
    text-decoration: none;
    background-size: cover;
    /* background-position: 0px -8px; */
    color: #ffffff;
    /* font-family: 1rem; */
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    margin: 2px;
}

.handleDetailsPattern p {
    margin-top: 58px;
    color: black;
}

.waxedSelection {
    border-radius: 5px;
    width: 60%;
    margin-left: 18%;
    color: white;
    background-color: black;
}