.acidbrown {
    background-image: url("./images/spools/acidBrown.jpg")
}
.acidpurple {
    background-image: url("./images/spools/acidPurple.jpg")
}
.black {
    background-image: url("./images/spools/black.jpg")
}
.burgundy {
    background-image: url("./images/spools/burgundy.jpg")
}
.caribbean {
    background-image: url("./images/spools/caribbean.jpg")
}
.charcoalgrey {
    background-image: url("./images/spools/charcoalGrey.jpg")
}
.colonialblue {
    background-image: url("./images/spools/colonialBlue.jpg")
}
.copperhead {
    background-image: url("./images/spools/copperhead.jpg")
}
.coyotebrown {
    background-image: url("./images/spools/coyoteBrown.jpg")
}
.crimson {
    background-image: url("./images/spools/crimson.jpg")
}
.emeraldgreen {
    background-image: url("./images/spools/emeraldGreen.jpg")
}
.foliagegreen {
    background-image: url("./images/spools/foliageGreen.jpg")
}
.forestgreen {
    background-image: url("./images/spools/forestGreen.jpg")
}
.galaxy {
    background-image: url("./images/spools/galaxy.jpg")
}
.gold {
    background-image: url("./images/spools/gold.jpg")
}
.goldenrod {
    background-image: url("./images/spools/goldenrod.jpg")
}
.imperialred {
    background-image: url("./images/spools/imperialRed.jpg")
}

.internationalorange {
    background-image: url("./images/spools/internationalOrange.jpg")
}
.khaki {
    background-image: url("./images/spools/khaki.jpg")
}
.lilac {
    background-image: url("./images/spools/lilac.jpg")
}
.midnightblue {
    background-image: url("./images/spools/midnightBlue.jpg")
}
.mossgreen {
    background-image: url("./images/spools/mossGreen.jpg")
}
.neongreen {
    background-image: url("./images/spools/neonGreen.jpg")
}
.neonorange {
    background-image: url("./images/spools/neonOrange.jpg")
}
.neonpink {
    background-image: url("./images/spools/neonPink.jpg")
}
.neonturquoise {
    background-image: url("./images/spools/neonTurquoise.jpg")
}
.olivedrab {
    background-image: url("./images/spools/oliveDrab.jpg")
}
.orangeblazecamo {
    background-image: url("./images/spools/orangeBlazeCamo.jpg")
}
.royalblue {
    background-image: url("./images/spools/royalBlue.jpg")
}
.rust {
    background-image: url("./images/spools/rust.jpg")
}
.scarletred {
    background-image: url("./images/spools/scarletRed.jpg")
}
.silver {
    background-image: url("./images/spools/silver.jpg");
    color: black;
}
.starsandstripes {
    background-image: url("./images/spools/starsAndStripes.jpg")
}
.turquoise {
    background-image: url("./images/spools/turquoise.jpg");
    color: black;
}
.white {
    background-image: url("./images/spools/white.jpg");
    color: black;
}
.yellow {
    background-image: url("./images/spools/yellow.jpg");
    color: black;
}


.handleDetailsSpool{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75px;
    width: 120px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* targets all p tags with parent handleDetailsSpool  */
.handleDetailsSpool p{
    color: white;
    max-width: 100px;
}

.handleDetailsSpoolWhite{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 75px;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.handleDetailsSpoolWhite p{
    color: black;
    /* text-align: center;
    vertical-align: middle; */
    /* line-height: 75px; */
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.emptyDetailsSpool{
    height: 75px;
    /* width: 100px; */
    text-align: center;
    display: inline-block;
}


