.handleButton {
    @include button(50px, 200px, 1rem);
    font-family: 'Montserrat';
    opacity: 1;
    background-size: cover;  
    border: 2px solid white;
    &:hover {
        // background: black;
        font-size: 1rem;
        border: 2px solid black;
    }

}

