.conchoDetails {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: auto;
}

.highlighted {
    background-color: black;
    color: white;
    border-radius: 4px;
}

.yourWhip{
    h2{
        font-family: 'BioRhyme', serif;
    }
}

.yourWhipButtons {
    @include button(60px, 160px, 20px);
}

.tooltipAddToCart {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipAddToCart .tooltiptextAddToCart {
    @include toolTip(220px, 80px, -40px)
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipAddToCart:hover .tooltiptextAddToCart {
    visibility: visible;
}

.addedBullwhipModal {
    z-index: 3;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0, .7);
}

.addedBullwhipModalContent {
    /* border: 5px solid black; */
    height: 50%;
    width: 50%;
    background-color: white;
    /* margin: auto; */
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.yourWhipButtonsInactive{
    background-color: black;
    border-radius: 5px;
    font-family: 'Montserrat';
    display: inline-block;
    height: 60px;
    width: 160px;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    margin: 2px;
    outline:0;
    opacity: .8;
    font-size: 20px;
}

.yourWhipPlaceholder{
    height: 50px;
}

.yourWhipPlaceholderXSmall{
    margin-top: 50px;
    height: 60px;
    margin-bottom: -20px;
}
.yourWhipPlaceholderSmall{
    margin-top: 10px;
    height: 80px;
    h4 {
        margin: 2px;
    }
}

.yourWhipPlaceholderBig {
    margin-top: 30px;
    height: 140px;
    text-align: center;
}

.handleDetailsSpool{
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 100px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    p{
        color: white;
        max-width: 100px;
    }
}

.handleDetailsSpoolWhite{
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 100px;
    text-align: center;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    p {
        color: black;
        max-width: 100px;
    }
}

.emptyDetailsSpool{
    height: 60px;
    max-height: 60px;
    text-align: center;
    display: inline-block;
    p {
        margin: 0;
    }
}

.handleDetailsPattern{
    width: 200px;
    height: 50px;
    margin: auto;
    text-decoration: none;
    background-size: cover;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.waxedSelection {
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    width: 150px;
    // margin-left: 18%;
    color: white;
    background-color: black;
}

.costBreakdownTable {
    margin-top: 50px;
}