.checkoutComponent {
    text-align: center;
    font-family: 'BioRhyme', serif;
}

.checkout{
    display: flex;
    justify-content: space-around;
}

.incompleteContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.incomplete{
    border: 5px solid black;
    max-width: 400px;
}

/* SHIPPING AND PAYMENT INFO */
.checkoutContainer {
    text-align: center;
    font-family: 'BioRhyme', serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.shippingContainer{
    margin: 4px;
    border: 5px solid black;
}

.shippingForm{
    width: 80%;
}

.paymentContainer{
    margin: 4px;
    border: 5px solid black;
}
/* END */

/* CART AND LIST OF ITEMS IN CART */
.orderContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemContainer{
}

.cartItem{
    border: 5px solid black;
    margin: 3px;

}

ul{
    text-align: left;
}

.capitalize {
    text-transform: capitalize;
}