.celticsilver {
    background-image: url('../components/DesignABullwhip/images/conchos/celticSilver.jpg')
}
.celticbrass {
    background-image: url('../components/DesignABullwhip/images/conchos/celticBrass.jpg')
}
.celticcopper {
    background-image: url('../components/DesignABullwhip/images/conchos/celticCopper.jpg')
}
.bear {
    background-image: url('../components/DesignABullwhip/images/conchos/bearSilver.jpg')
}
.bright {
    background-image: url('../components/DesignABullwhip/images/conchos/brightSilver.jpg')
}
.cross {
    background-image: url('../components/DesignABullwhip/images/conchos/crossSilver.jpg')
}
.dragon {
    background-image: url('../components/DesignABullwhip/images/conchos/dragonSilver.jpg')
}
.elktwo {
    background-image: url('../components/DesignABullwhip/images/conchos/elk2Silver.jpg')
}
.elk {
    background-image: url('../components/DesignABullwhip/images/conchos/elkSilver.jpg')
}
.flamingskull {
    background-image: url('../components/DesignABullwhip/images/conchos/flamingSkullSilver.jpg')
}
.pirateskull {
    background-image: url('../components/DesignABullwhip/images/conchos/pirateSkullSilver.jpg')
}
.ram {
    background-image: url('../components/DesignABullwhip/images/conchos/ramSilver.jpg')
}
.swirl {
    background-image: url('../components/DesignABullwhip/images/conchos/swirl.jpg')
}
.wavebrass {
    background-image: url('../components/DesignABullwhip/images/conchos/waveBrass.jpg')
}
.wavesilver {
    background-image: url('../components/DesignABullwhip/images/conchos/waveSilver.jpg')
}
.yinandyang {
    background-image: url('../components/DesignABullwhip/images/conchos/yinAndYangSilver.jpg')
}