
@mixin flexColumn($spacing) {
    display: flex;
    flex-direction: column;
    justify-content: $spacing;
}

@mixin flexRow($spacing) {
    display: flex;
    flex-direction: row;
    justify-content: $spacing;
}