.accent {
    background-image: url("../components/DesignABullwhip/images/handles/accent.jpg")
}

.box {
    background-image: url("../components/DesignABullwhip/images/handles/box.jpg")
}

.celtic {
    background-image: url("../components/DesignABullwhip/images/handles/celtic.jpg")
}

.egyptianeye {
    background-image: url("../components/DesignABullwhip/images/handles/egyptianEye.jpg")
}

.emerald {
    background-image: url("../components/DesignABullwhip/images/handles/emerald.jpg")
}

.new {
    background-image: url("../components/DesignABullwhip/images/handles/new.jpg")
}

.verticalstrip {
    background-image: url("../components/DesignABullwhip/images/handles/verticalStrip.jpg")
}

.handleButtonsContainer{
    margin-bottom: 12px;
}