.acidbrown {
    background-image: url("../components/DesignABullwhip/images/spools/acidBrown.jpg")
}
.acidpurple {
    background-image: url("../components/DesignABullwhip/images/spools/acidPurple.jpg")
}
.black {
    background-image: url("../components/DesignABullwhip/images/spools/black.jpg")
}
.burgundy {
    background-image: url("../components/DesignABullwhip/images/spools/burgundy.jpg")
}
.caribbean {
    background-image: url("../components/DesignABullwhip/images/spools/caribbean.jpg")
}
.charcoalgrey {
    background-image: url("../components/DesignABullwhip/images/spools/charcoalGrey.jpg")
}
.colonialblue {
    background-image: url("../components/DesignABullwhip/images/spools/colonialBlue.jpg")
}
.copperhead {
    background-image: url("../components/DesignABullwhip/images/spools/copperhead.jpg")
}
.coyotebrown {
    background-image: url("../components/DesignABullwhip/images/spools/coyoteBrown.jpg")
}
.crimson {
    background-image: url("../components/DesignABullwhip/images/spools/crimson.jpg")
}
.emeraldgreen {
    background-image: url("../components/DesignABullwhip/images/spools/emeraldGreen.jpg")
}
.foliagegreen {
    background-image: url("../components/DesignABullwhip/images/spools/foliageGreen.jpg")
}
.forestgreen {
    background-image: url("../components/DesignABullwhip/images/spools/forestGreen.jpg")
}
.galaxy {
    background-image: url("../components/DesignABullwhip/images/spools/galaxy.jpg")
}
.gold {
    background-image: url("../components/DesignABullwhip/images/spools/gold.jpg")
}
.goldenrod {
    background-image: url("../components/DesignABullwhip/images/spools/goldenrod.jpg")
}
.imperialred {
    background-image: url("../components/DesignABullwhip/images/spools/imperialRed.jpg")
}

.internationalorange {
    background-image: url("../components/DesignABullwhip/images/spools/internationalOrange.jpg")
}
.khaki {
    background-image: url("../components/DesignABullwhip/images/spools/khaki.jpg")
}
.lilac {
    background-image: url("../components/DesignABullwhip/images/spools/lilac.jpg")
}
.midnightblue {
    background-image: url("../components/DesignABullwhip/images/spools/midnightBlue.jpg")
}
.mossgreen {
    background-image: url("../components/DesignABullwhip/images/spools/mossGreen.jpg")
}
.neongreen {
    background-image: url("../components/DesignABullwhip/images/spools/neonGreen.jpg")
}
.neonorange {
    background-image: url("../components/DesignABullwhip/images/spools/neonOrange.jpg")
}
.neonpink {
    background-image: url("../components/DesignABullwhip/images/spools/neonPink.jpg")
}
.neonturquoise {
    background-image: url("../components/DesignABullwhip/images/spools/neonTurquoise.jpg")
}
.olivedrab {
    background-image: url("../components/DesignABullwhip/images/spools/oliveDrab.jpg")
}
.orangeblazecamo {
    background-image: url("../components/DesignABullwhip/images/spools/orangeBlazeCamo.jpg")
}
.royalblue {
    background-image: url("../components/DesignABullwhip/images/spools/royalBlue.jpg")
}
.rust {
    background-image: url("../components/DesignABullwhip/images/spools/rust.jpg")
}
.scarletred {
    background-image: url("../components/DesignABullwhip/images/spools/scarletRed.jpg")
}
.silver {
    background-image: url("../components/DesignABullwhip/images/spools/silver.jpg");
    color: black;
}
.starsandstripes {
    background-image: url("../components/DesignABullwhip/images/spools/starsAndStripes.jpg")
}
.turquoise {
    background-image: url("../components/DesignABullwhip/images/spools/turquoise.jpg");
    color: black;
}
.white {
    background-image: url("../components/DesignABullwhip/images/spools/white.jpg");
    color: black;
}
.yellow {
    background-image: url("../components/DesignABullwhip/images/spools/yellow.jpg");
    color: black;
}
