body {
  font-family: 'BioRhyme', serif;
  background-color: white;
}

.footerContainer {
  margin-top: 80px;
  border-top: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mediaLogo {
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homePageContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
  max-width: 1200px;
}

.imageGalleryContainer {
  width: 480px;
  margin: 10px;
}

.aboutWWContainer {
  text-align: center;
  width: 40%;
  margin: 10px;
}

.aboutWWContainer p {
  padding: 6px;
}

.aboutBullwhipContainer {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.aboutBullwhipContainer p {
  padding: 5px;
}

.aboutBullwhipContainerPicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.makingPicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  width: 22%;
}

.makingPicContainer p {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.makingPicContainer img {
  width: 100%;
  margin-bottom: 6px;
}

.aboutPicContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.aboutPicContainer div {
  width: 40%;
}

.aboutPicContainer div p {
  font-size: 14px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutPicContainer div img {
  height: 300px;
}

@media (max-width: 1100px) {
  .homePageContentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .imageGalleryContainer {
    width: 460px;
    margin: auto;
  }
  .aboutWWContainer {
    width: 80%;
    margin: auto;
  }
  .aboutWWContainer p {
    padding: 6px;
  }
}

@media (max-width: 500px) {
  .imageGalleryContainer {
    width: 300px;
    margin: auto;
  }
}

.nav {
  border-bottom: 4px solid black;
  height: 100px;
}

.nav-link-container {
  position: absolute;
  right: 5px;
  top: 25px;
}

.nav-title {
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  color: black;
  padding: 5px;
  margin-right: 5px;
}

.wwBanner {
  height: 80px;
  position: absolute;
  left: 5vw;
  max-width: 950px;
}

.nav-title:hover {
  background-color: black;
  color: grey;
}

@media (max-width: 1100px) {
  .nav-link-container {
    top: 50px;
  }
  .wwBanner {
    height: 50px;
  }
}

@media (max-width: 500px) {
  .nav-link-container {
    top: 60px;
  }
  .nav-title {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */