$small: 500px;
$medium: 1100px;


body {
    font-family: 'BioRhyme', serif;
    background-color: white;
}

p{
    font-family: 'Montserrat';
}

button {
    font-family: 'Montserrat';
}

table {
    font-family: 'Montserrat';
}
